*{
    font-size: 12px;
}
.header{
    text-align: center;
}

.menu{
    background: #4D7CFF;
}
.menu a{
    color: #fff;
}
.btn-priority{
    height: 10px;
}

.hight{
    border-left:solid 3px brown;
}

.low{
    border-left:solid 3px green;
}

.enlaces{
    font-size: 0.9em;
    text-align: right;
}

footer{
    background: #4D7CFF;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
}