*{
    font-size: 11px;
}
@media (min-width: 500px) {
    *{
        font-size: 14px;
    }
}
@media (min-width: 750px) {
    *{
        font-size: 16px;
    }
}
.header{
    text-align: center;
}
.menu{
    background: #007bFF;
}
.menu a{
    color: #fff;
}
.btn-priority{
    height: 10px;
}
.hight{
    border-left:solid 3px brown;
}
.normal{
    border-left:solid 3px orange;
}
.low{
    border-left:solid 3px green;
}
.enlaces{
    text-align: right;
}
.enlaces a{
    font-size: 0.9em;
}
footer{
    background: #007bFF;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
}

.ventana:hover{
    background: #0056b3;
}

.ventana{
    border-radius: 0;
}